@model IEnumerable<TourGuideBD.Models.Distric>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DistricName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EntryDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DistricName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division.DivisionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DistricId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DistricId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DistricId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
