@model IEnumerable<TourGuideBD.Models.AddNewPlaceByClient>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PlaceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DistricId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpazilaId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TouristEntryTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EntryFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactInfo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HowToGo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsSeen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SenderName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EntryDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistricId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpazilaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TouristEntryTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HowToGo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSeen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division.DivisionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceType.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlaceByClientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlaceByClientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlaceByClientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
