@model TourGuideBD.Models.Comment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SenderName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenderName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommentText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommentText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSeen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSeen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommentTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommentTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
